= render partial: "shared/print_errors", locals: { obj: @album }



= form_for @album do |f|
  .field
    = f.label :title, "Title"
    = f.text_field :title

  .field
    = f.label :singer_id, "Singer"
    = f.collection_select :singer_id, Singer.order(:name), :id, :name

  .field
    = f.label :price, "Price"
    = f.text_field :price

  .field
    = f.label :production_label, "Production Label"
    = f.text_field :production_label



  .field
    = f.submit